### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [50]:
#count unique SNs to assess the number of active players
user_count = purchase_data['SN'].nunique()
players_count = pd.DataFrame({'Total Players': user_count}, index=[0])
players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#summarize top line information by assessing the related columns, store in DataFrame
item_offer = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Purchase ID'].count()
total_purchases = purchase_data['Price'].sum()

#generate DataFrame with top line stats
purchase_summary = pd.DataFrame({'Number of Unique Items': item_offer, 
                                 'Average Purchase Price': average_price,
                                'Total Number of Purchases': purchase_count, 
                                 'Total Revenue': total_purchases}, index=[0], columns=['Number of Unique Items', 
                                                                                        'Average Purchase Price', 
                                                                                        'Total Number of Purchases', 
                                                                                        'Total Revenue'])
#set formatting
purchase_summary = purchase_summary.style.format({'Average Purchase Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})
purchase_summary

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
#create DataFrame containing user counts by gender
gender_demo = pd.DataFrame(purchase_data.groupby('Gender').SN.nunique())

#rename 'SN' column to 'User Count'
gender_demo = gender_demo.rename(index=str, columns={'SN': 'Player Count'})

#add % to totals in a new columns
gender_demo['Percentage of Players'] = gender_demo['Player Count'] / sum(gender_demo['Player Count'])*100

#format new column with %
gender_demo = gender_demo.style.format({'Percentage of Players': '{:.2f}%'})
gender_demo


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
#create DataFrame to store purchase stats by gender using the 'Purchase ID' and 'Price' columns
gender_stats = pd.DataFrame(purchase_data.groupby('Gender').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#collapse the multiple indexes to create a cleanly labeled data frame
gender_stats.columns = gender_stats.columns.get_level_values(1) 

#rename the columns to clarify what they are
gender_stats = gender_stats.rename(index=str, columns={'count': 'Purchase Count'})

#add a column to store the average purchase value
gender_stats['Normalized Totals'] = gender_stats['Total Purchase Value']/gender_stats['Purchase Count']

#arrange columns accordingly
gender_stats = gender_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]

#format the 'Total Purchase Value', 'Average Purchase Price', and 'Normalized Totals' columns to display as currency
gender_stats = gender_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
gender_stats

C:\Users\creatural1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize the players according to the age bin
purchase_data['Age'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)

#create a DataFrame to store grouped by top-line stats based on age
age_demo = pd.DataFrame(purchase_data.groupby('Age').SN.nunique())

#rename 'SN' column to 'User Count'
age_demo = age_demo.rename(index=str, columns={'SN': 'Player Count'})

#add % to totals in a new columns
age_demo['Percentage of Players'] = age_demo['Player Count'] / sum(age_demo['Player Count'])*100

#format new column with %
age_demo = age_demo.style.format({'Percentage of Players': '{:.2f}%'})
age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
#create DataFrame to store purchase stats by age using the 'Purchase ID' and 'Price' columns
age_stats = pd.DataFrame(purchase_data.groupby('Age').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#collapse the multiple indexes to create a cleanly labeled data frame
age_stats.columns = age_stats.columns.get_level_values(1) 

#rename the columns to clarify what they are
age_stats = age_stats.rename(index=str, columns={'count': 'Purchase Count'})

#add a column to store the average purchase value
age_stats['Normalized Totals'] = age_stats['Total Purchase Value']/age_stats['Purchase Count']

#arrange columns accordingly
age_stats = age_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]

#format the 'Total Purchase Value', 'Average Purchase Price', and 'Normalized Totals' columns to display as currency
age_stats = age_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
age_stats

C:\Users\creatural1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
#identify top 5 spenders by grouping purchases by 'SN'
spend_summ = pd.DataFrame(purchase_data.groupby('SN').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#collapse the multiple indexes to create a cleanly labeled data frame
spend_summ.columns = spend_summ.columns.get_level_values(1) 

#rename the columns to clarify what they are
spend_summ = spend_summ.rename(index=str, columns={'count': 'Purchase Count'})

#sort the 'Total Purchase Value' column in descending order to identify top spenders
spend_summ = spend_summ.sort_values(by='Total Purchase Value', ascending=False)

#slice the DataFrame so that only the top 5 rows populate
spend_summ = spend_summ[0:5]

#convert formatting to currency
spend_summ = spend_summ.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})
spend_summ

C:\Users\creatural1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80